<div class='breadcrumbs'>
  <ul>
    <li>
      <%= link_to 'Список общежитий', hostels_path %>
    </li>
    <li>
      <%= link_to @hostel.title, hostel_path(@hostel) %>
    </li>
    <li>
      <%= link_to "Комната №#{@room.number}", hostel_room_path(@hostel, @room) %>
    </li>
    <li>
      <span><%= @roomer.full_name %></span>
    </li>
  </ul>
</div>

<h1><%= @roomer.full_name %>, <%= @hostel.title %>, комната №<%= @room.number %></h1>

<%= link_to "добавить новую запись", new_hostel_room_roomer_record_path(@hostel, @room, @roomer), :class => 'to_right' %>
<h2>Записи поощрений и наказаний</h2>

<ul>
  <%= render @roomer.records  %>
</ul>
