<div class='breadcrumbs'>
  <ul>
    <li>
      <%= link_to 'Список общежитий', hostels_path %>
    </li>
    <li>
      <%= link_to @hostel.title, hostel_path(@hostel) %>
    </li>
    <li>
      <%= link_to "Комната №#{@room.number}", hostel_room_path(@hostel, @room) %>
    </li>
    <li>
      <span><%= @roomer.full_name %></span>
    </li>
  </ul>
</div>

<h1><%= @roomer.full_name %>, <%= @hostel.title %>, комната №<%= @room.number %></h1>

<div class="info">
  <span class="label">Пользователь:</span>
  <span class="value">
    <% if @roomer.roomer_permission %>
      <%= @roomer.roomer_permission.user %> <%= mail_to @roomer.roomer_permission.user.email %> (последний вход <%= l @roomer.roomer_permission.user.current_sign_in_at, :format => :long %>)
      <%= link_to "Удалить", hostel_room_roomer_roomer_permission_path(@hostel, @room, @roomer), :method => :delete, :confirm => 'Вы уверены?' %>
    <% else %>
      нет пользователя
      <%= link_to "добавить пользователя", new_hostel_room_roomer_roomer_permission_path(@hostel, @room, @roomer) %>
    <% end %>
  </span>
</div>
<div class="info">
  <span class="label">Текущий рейтинг:</span>
  <span class="value"><%= @roomer.current_rating %> балл.</span>
</div>
<% if @roomer.current_notes.any? %>
  <div class="info">
    <span class="label">Дополнительно:</span>
    <span class="value">
      <ul>
        <% @roomer.current_notes.each do |note| %>
          <li><%= note.first %> (<%= l note.last, :format => :long %>)</li>
        <% end %>
      </ul>
    </span>
  </div>
<% end %>

<% if can? :manage, @roomer.records.new %>
  <div class="adding_new_record">
    <h3>Добавление записи</h3>
    <%= simple_form_for :search, :url => search_points_path, :remote => true, :method => :get do |f| %>
      <%= f.input :q, :input_html => { :class => 'need_autocomplete for_points' }, :label => false, :placeholder => 'Начните писать номер пункта или текст статьи' %>
    <% end %>
    <div class="actions">
      <%= link_to 'добавить новую запись', new_hostel_room_roomer_record_path(@hostel, @room, @roomer), :class => 'new_record_link disabled' %>
      <%= link_to 'отмена', '#', :class => 'cancel' %>
    </div>
  </div>

  <%= link_to "добавить новую запись", '#', :class => 'show_form to_right enabled' %>
<% end %>
<h2>Записи поощрений и наказаний</h2>

<ul class='list'>
  <% if @roomer.records.by_current_year.any? %>
    <%= render @roomer.records.by_current_year %>
  <% else %>
    <li class='empty'>Нет записей</li>
  <% end %>
</ul>

<% deleted_records = @roomer.records.only_deleted.by_current_year %>
<% if deleted_records.any? %>
  <div class="deleted_records">
    <h2>Удаленные записи</h2>
    <ul class='list'>
      <%= render deleted_records %>
    </ul>
  </div>
<% end %>
