<h1>Статистика</h1>

<%= simple_form_for @search_object, :url => stats_path, :method => :get, :html => { :class => 'stats_form' } do |f| %>
  <%= f.input :hostel_ids,
              :as => :check_boxes,
              :label => 'Общежитие:',
              :collection => Hostel.all,
              :required => false %>

  <%= f.input :record_notes,
              :as => :check_boxes,
              :label => 'Дополнительно:',
              :collection => Point.enumerized_attributes[:note].options,
              :required => false %>

  <div class="date_range">
    <%= f.input :start_at,
      :required => false,
      :label => 'Начиная с:',
      :as => :date_picker %>

    <%= f.input :end_at,
      :required => false,
      :label => 'До:',
      :as => :date_picker %>
  </div>

  <%= f.input :record_points,
              :as => :check_boxes,
              :label => 'Статьи:',
              :label_method => :to_label,
              :collection => Point.all,
              :required => false %>

  <div class="buttons">
    <%= link_to "Очистить форму", '#', :class => 'clear' %>
    <%= f.submit 'Фильтровать' %>
  </div>
<% end %>

<ul class='list'>
  <% if @results.any? %>
    <% @results.each do |result| %>
      <li>
        <%= link_to result, [result.hostel, result.room, result], :target => '_blank' %>
        (<%= [result.hostel.title, result.room, result.current_rating_to_s, "#{result.records.count} зап.", "#{result.current_notes_count} доп."].join(', ') %>)
      </li>
    <% end %>
  <% else %>
    <li class="empty">Ничего не найдено</li>
  <% end %>
</ul>

<%= paginate @results %>
