<%= simple_form_for [@hostel, @room, @roomer, resource] do |f| %>
  <%= f.input :number, :input_html => { :value => resource.new_record? ? @point.number : resource.number, :class => 'disabled' } %>
  <%= f.input :description, :input_html => { :value => resource.new_record? ? @point.description : resource.description, :class => 'disabled' } %>
  <%= f.input :mark, :input_html => { :value => resource.new_record? ? @point.mark : resource.mark } %>

  <% if resource.new_record? %>
    <%= f.input :note, :as => :check_boxes, :checked => @point.note.to_ary %>
    <%= f.input :initiator, :as => :check_boxes, :checked => @point.initiator.to_ary %>
  <% else %>
    <%= f.input :note, :as => :check_boxes %>
    <%= f.input :initiator, :as => :check_boxes %>
  <% end %>

  <%= f.input :document_number %>
  <%= f.input :memo %>
  <div class='buttons'>
    <%= f.submit 'Сохранить' %>
    <%= link_to 'Отмена', parent_path %>
  </div>
<% end %>
