<li>
  <% if can? :manage, record %>
    <% unless record.destroyed? %>
      <div class="actions">
        <%= link_to "редактировать", edit_hostel_room_roomer_record_path(@hostel, @room, @roomer, record) %>
        <%= link_to "удалить", hostel_room_roomer_record_path(@hostel, @room, @roomer, record), :method => :delete, :confirm => 'Вы уверены?' %>
      </div>
    <% end %>
  <% end %>

  <div class="date">
    <%= l record.updated_at, :format => :long %>,
    <%= record.author || 'автор не указан' %>
  </div>

  <div class="document">
    Документ №<%= record.document_number || ' не указан' %>
  </div>

  <div class="point">
    <%= record.full_description %>
  </div>

  <% if record.mark.present? %>
    <div class="mark">
      <%= "#{record.mark} балл." %>
    </div>
  <% end %>

  <% if record.note.any? %>
    <div class="note">
      <%= record.note.map(&:text).join(', ') %>
    </div>
  <% end %>

  <% if record.memo.present? %>
    <div class="memo">
      <%= record.memo %>
    </div>
  <% end %>
</li>
