<%= simple_form_for resource do |f| %>
  <%= f.input :role, :include_blank => false %>
  <%= f.input :user_id, :as => :select, :collection => User.all, :selected => f.object.user %>
  <%= f.input :context_id, :collection => Hostel.all, :selected => f.object.context.try(:id), :include_blank => true %>

  <div class="buttons">
    <%= f.submit 'Сохранить' %>
    <%= link_to 'Отмена', collection_path %>
  </div>
<% end %>
