<!DOCTYPE html>
<html>
  <head>
    <title>Рейтинг соблюдения правил проживания студентов в общежитиях ТУСУР</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="message_wrapper <%= 'notice' if notice %> <%= 'alert' if alert %>" <%= "style=display:none;" unless notice || alert %>>
      <%= notice %>
      <%= alert %>
    </div>

    <div class="header">
      <div class="logo">
        <%= link_to "Рейтинг соблюдения правил проживания студентов в общежитиях ТУСУР", '/', :title => 'Рейтинг соблюдения правил проживания студентов в общежитиях ТУСУР' %>
      </div>
      <div class="title">Рейтинг соблюдения правил проживания студентов в общежитиях ТУСУР</div>
      <div class="auth_block">
        <%= render :partial => "sso-auth/shared/user_box" %>
      </div>
    </div>

    <div class="menu">
      <%= link_to "Список общежитий", hostels_path %>
      <%= link_to "Список статей", points_path if user_signed_in? && current_user.administrator? %>
      <%= link_to "Статистика", stats_path if user_signed_in? && current_user.administrator? %>
      <%= link_to "Управление ролями", permissions_path if user_signed_in? && current_user.administrator? %>
    </div>

    <% if user_signed_in? %>
      <% if ['hostels', 'rooms', 'roomers', 'application'].include?(controller_name) %>
        <div class="search">
          <%= simple_form_for :search, :url => search_path, :method => :get do |f| %>
            <%= f.input :q,
              :label => false,
              :placeholder => 'ФИО жильца или номер комнаты',
              :input_html => { :name => :q },
              :autofocus => true %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    <% end %>
  </body>
</html>
