<!DOCTYPE html>
<html>
  <head>
    <title>Рейтинг общежития</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="menu">
      <%= link_to "Список общежитий", root_path %>
      <%= link_to "Список статей", points_path %>
    </div>

    <div class="search">
      <%= simple_form_for :search, :url => search_path, :method => :get do |f| %>
        <%= f.input :q, :label => false, :placeholder => 'ФИО жильца или номер комнаты', :input_html => { :name => :q }, :autofocus => true %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
